/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(0, 93, 83);
} */

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(0, 93, 83);
}

p {
  color: rgb(0, 93, 83);
}

.row {
  margin-top: 5%;
}

.wrapper {
  width: 100%;
  text-align: center;
}

